#!/usr/bin/env xdg-open


[Desktop Entry]
Name=Tales Of Usland
Terminal=true
Exec=/home/deck/Documents/Mygame/mygame
Type=Application
Icon=
Categories=Games;

